html {
  font-family:"Antic didone Regular", "Open Sans", "Goldoni Regular";
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 1.6rem; 
}

.nav-bar {
width: 100vh;
}

.main-content {
width: 100vh;
}

.footer {
width: 100vw;
height: autovh;  
}

img {
  width: 200px;
}

/*html {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

img {
  max-width: 16%;
}

nav {
  background-color: #ccc;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 10px 0;
}

footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}*/