* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}


.slider {
  position: absolute;
  z-index: 1;
  width: 100%; /* Occupies full viewport width */
  height: 100vh; /* Occupies full viewport height */
  overflow: visible; /* Clips content that exceeds the slider area */
  display: flex; /* Displays images in a horizontal row */
  transition: transform 0.8s ease-in-out; /* Smooth slide transition */
}
.slider img {
  width: 100%; /* Ensures images fill the slider container */
  height: 100%; /* Ensures images fill the slider container */
  object-fit: cover; /* Maintains aspect ratio and covers the container */
}
.nav-elements {
  position: absolute;
  z-index: 2;
}

.container {
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #192841, #667082)
}
.ratings {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #748094, #667082)
}
.contact {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #CBCFD7 , #667082)
}


